@model IEnumerable<CarDealMVC.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Автомобильные производители</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManufacturerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManufacturerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
