@model HomeViewModel
@{
}

<h1>Автомобили</h1>
</br>
<table class="table">
    <thead>
        <tr>
            <th>
                Цвет @* @Html.DisplayNameFor(model => model.Cars.Color) *@
            </th>
            <th>
                Модель @* @Html.DisplayNameFor(model => model.Cars.Model.ModelName) *@
            </th>
            <th>
                Характеристики @* @Html.DisplayNameFor(model => model.Cars.CarsStats) *@
            </th>
            <th>
                Цена @* @Html.DisplayNameFor(model => model.Cars.Price) *@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarsStats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>


